<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote</title>
    <script>
        const cdn_loader = (async (data) => {
            for (const {key, type, choices} of data) await new Promise((resolve, reject) => {
                const cdn_like = JSON.parse(localStorage.getItem('cdnLike') || '{}');
                choices.sort((a, b) => cdn_like[key] === a ? -1 : cdn_like[key] === b ? 1 : 0);
                (function try_one_by_one(idx) {
                    if (idx >= choices.length) return reject(`all cdn of ${key} is not available`);
                    let el;
                    new Promise((resolve_, reject_) => {
                        if (type === 'css') {
                            el = document.createElement('link');
                            el.rel = 'stylesheet';
                            el.href = choices[idx];
                        } else {
                            el = document.createElement('script');
                            el.src = choices[idx];
                        }
                        el.onerror = reject_
                        el.onload = resolve_
                        document.head.appendChild(el);
                    }).then(() => {
                        console.log(`cdn of ${key} is loaded from ${choices[idx]}`);
                        cdn_like[key] = choices[idx];
                        localStorage.setItem('cdnLike', JSON.stringify(cdn_like));
                        resolve();
                    }).catch(e => {
                        console.error(`cdn of ${key} is not loaded from ${choices[idx]}`, e);
                        el.remove();
                        try_one_by_one(idx + 1);
                    });
                })(0);
            })
        })([{
            key: 'css/element-plus', type: 'css',
            choices: [
                "https://unpkg.com/element-plus/dist/index.css",
                "https://s4.zstatic.net/npm/element-plus/dist/index.css",
            ]
        },
            {
                key: 'css/bootstrap', type: 'css',
                choices: [
                    "https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css",
                    "https://s4.zstatic.net/npm/bootstrap@latest/dist/css/bootstrap.min.css",
                ]
            },
            {
                key: 'js/chart.js', type: 'js',
                choices: [
                    "https://cdn.jsdelivr.net/npm/chart.js",
                    "https://s4.zstatic.net/npm/chart.js",
                ]
            },
            {
                key: 'js/bootstrap', type: 'js',
                choices: [
                    "https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/js/bootstrap.bundle.min.js",
                    "https://s4.zstatic.net/npm/bootstrap@latest/dist/js/bootstrap.bundle.min.js",
                ]
            },
            {
                key: 'js/vue', type: 'js',
                choices: [
                    "https://unpkg.com/vue@3/dist/vue.global.js",
                    "https://s4.zstatic.net/npm/vue@3/dist/vue.global.js",
                ]
            },
            {
                key: 'js/element-plus', type: 'js',
                choices: [
                    "https://unpkg.com/element-plus",
                    "https://s4.zstatic.net/npm/element-plus@latest/dist/index.full.min.js",
                ]
            },
            {
                key: 'js/element-plus-icons-vue', type: 'js',
                choices: [
                    "https://unpkg.com/@element-plus/icons-vue",
                    "https://s4.zstatic.net/npm/@element-plus/icons-vue",
                ]
            },])
    </script>
</head>
<style>
    [v-cloak] {
        display: none;
    }

    body {
        font-family: -apple-system,
        'Nimbus Roman No9 L',
        'PingFang SC Regular',
        'Hiragino Sans GB',
        'Microsoft Yahei',
        'WenQuanYi Micro Hei',
        'ST Heiti', sans-serif
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(93, 93, 93);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(166, 166, 166, 0.3);
        background-color: rgb(234, 234, 234);
    }

    .main-0 {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .main-1 {
        display: table-cell;
        vertical-align: middle;
    }

    .main-2 {
        width: 1000px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<body>
<div id="app" class="main-0">
    <div class="main-1" v-cloak>
        <div class="main-2" v-if="0">
            resource is loading, please wait...
        </div>
        <div class="main-2 shadow rounded p-3" v-cloak>
            <div v-if="!is_socket_connected" class="p-3">
                <el-alert title="socket is not connect, check inject status" type="error" effect="dark" :closable="false"></el-alert>
            </div>

            <el-dialog v-model="actor_dialog.visible" :title="actor_dialog.actor?actor_dialog.actor.name:''" width="800">
                <el-tabs
                        v-model="actor_dialog.page"
                        type="card"
                >
                    <el-tab-pane label="targets" name="targets">
                        <el-table :data="Object.values(actor_dialog.actor.targets)" style="width: 100%" :default-sort="{ prop: 'damage', order: 'descending' }">
                            <el-table-column prop="name" label="name"></el-table-column>
                            <el-table-column prop="damage" label="damage" sortable></el-table-column>
                        </el-table>
                    </el-tab-pane>
                    <el-tab-pane label="actions" name="actions">
                        <el-table :data="Object.values(actor_dialog.actor.actions)" style="width: 100%" :default-sort="{ prop: 'damage', order: 'descending' }">
                            <el-table-column prop="name" label="name"></el-table-column>
                            <el-table-column prop="hit" label="hit" sortable>
                                <template #default="scope">
                                    <span>{{scope.row.hit}} ({{(scope.row.hit/actor_dialog.actor.hit*100).toFixed(1)}}%)</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="damage" label="damage" sortable>
                                <template #default="scope">
                                    <span>{{scope.row.damage}} ({{scope.row.damage?(scope.row.damage/actor_dialog.actor.damage*100).toFixed(1):0}}%)</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="min" label="min" sortable></el-table-column>
                            <el-table-column prop="max" label="max" sortable></el-table-column>
                            <el-table-column label="damage(avg)">
                                <template #default="scope">
                                    <span v-if="scope.row.hit > 0">{{Math.floor(scope.row.damage / scope.row.hit)}}</span>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-tab-pane>
                </el-tabs>
            </el-dialog>

            <el-tabs
                    v-model="view_record_value"
                    type="card"
                    closable @tab-remove="remove_record"
            >
                <el-tab-pane
                        v-for="item in records" :key="item.name" :label="item.last_record_at?`${item.name} [${fmt_time(item.last_record_at-item.time)}]`:item.name" :name="item.name"
                >
                    <el-table :data="Object.values(item.actors)" style="width: 100%" :default-sort="{ prop: 'dps', order: 'descending' }">
                        <el-table-column prop="name" label="name">
                            <template #default="scope">
                                <span>
                                    <el-icon :style="{'color':scope.row.color}"><Avatar/></el-icon> {{ scope.row.name }}
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="damage" label="damage" sortable></el-table-column>
                        <el-table-column prop="damage_in_minute" label="damage_in_minute" sortable></el-table-column>
                        <el-table-column prop="dps" label="dps" sortable></el-table-column>
                        <el-table-column prop="dps_in_minute" label="dps_in_minute" sortable></el-table-column>
                        <el-table-column label="detail">
                            <template #default="scope">
                                <el-button @click="set_actor_dialog(scope.row)" type="text" size="small">detail</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    </el-table>
                    <div v-if="item.show_chart">
                        <canvas :ref="el => { item.canvas = el }" height="500"></canvas>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</div>
</body>
<script>
    const _with_time = f => (...args) => {
        const now = new Date();
        f(`[${now.getHours()}:${now.getMinutes()}:${now.getSeconds()}]`, ...args);
    }
    let log_evt = 1
    let log_render = false
    const log = _with_time(console.log);
    const err = _with_time(console.error);
    const flag_offs = (val) => Array.from(Array(val.toString(2).length).keys())
        .filter(off => val & (1 << off));

    const actor_names = {
        0x9498420d: "姬塔",
        0x26a4848a: "古兰",
        0xc3155079: "赛达",
        0x34d4fd8f: "卡塔莉娜",
        0xf8d73d33: "拉卡姆",
        0x7b5934ad: "伊欧",
        0x443d46bb: "欧根",
        0xa9d6569e: "萝赛塔",
        0x2b4aa114: "夏洛特",
        0xbcc238de: "冈达葛萨",
        0xfba6615d: "菲莉",
        0x601aa977: "娜露梅",
        0x63a7c3f0: "兰斯洛特",
        0xf96a90c2: "巴恩",
        0x28ac1108: "珀西瓦尔",
        0x94e2514e: "齐格飞",
        0x6fdd6932: "卡莉奥丝特罗",
        0xc97f3365: "尤达哈拉",
        0xd16cfbde: "巴萨拉卡",
        0x8056abcd: "伊德",
        0xf5755c0e: "伊德（龙人化）",
    }
    var socket = null;

    function numberToHexStringWithZFill(number, minLength) {
        let hexString = number.toString(16);
        while (hexString.length < minLength) {
            hexString = '0' + hexString;
        }
        return hexString;
    }

    const colors = [
        '#55ff55',
        '#ff5555',
        '#5555ff',
        '#ffff55',
        '#ff55ff',
        '#55ffff',
    ]

    class DpsChart {
        constructor(canvas) {
            this.canvas = canvas;
            this.ctx = canvas.getContext('2d');
            this.datas = {
                datasets: []
            };
            this.chart = new Chart(this.ctx, {
                type: 'line',
                data: this.datas,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                        },
                        y: {
                            //beginAtZero: true,
                            position: 'left',
                        }
                    },
                    animation: {
                        y: {
                            duration: 0
                        }
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    }
                }
            });
            this.period = 5 * 60;
        }

        set_key_color(key, color) {
            const dataset = this.datas.datasets.find(ds => ds.label === key);
            if (dataset) {
                dataset.borderColor = color;
                dataset.backgroundColor = color;
            } else {
                this.datas.datasets.push({
                    label: key,
                    data: [],
                    borderColor: color,
                    backgroundColor: color,
                    fill: false,
                });
            }
        }

        append_frame(timestamp, datas) {
            if (this.period > 0) {
                const min_time = timestamp - this.period;
                for (const dataset of this.datas.datasets) {
                    const cutoff_idx = dataset.data.findIndex(d => d.x > min_time);
                    if (cutoff_idx >= 0) dataset.data = dataset.data.slice(cutoff_idx);
                }
            }
            Object.entries(datas).forEach(([key, value]) => {
                let dataset = this.datas.datasets.find(ds => ds.label === key);
                if (!dataset) {
                    dataset = {
                        label: key,
                        data: [],
                        borderColor: '#000000',
                        backgroundColor: '#000000',
                        fill: false,
                    }
                    this.datas.datasets.push(dataset);
                }
                dataset.data.push({x: timestamp, y: value});
            });
            if (log_render) log('log_render', this.datas);
            this.chart.update();
        }

        static instances = {};

        static get_instance(name, canvas) {
            if (!this.instances[name]) this.instances[name] = new this(canvas);
            return this.instances[name];
        }

        static destroy_instance(name) {
            if (name in this.instances) {
                this.instances[name].chart.destroy();
                delete this.instances[name];
            }
        }
    }

    cdn_loader.then(() => {
        const App = Vue.createApp({
            setup() {
                const is_socket_connected = Vue.ref(false);
                const drawer = Vue.ref(false);
                const records = Vue.ref([]);
                const view_record_value = Vue.ref("");
                const actor_dialog = Vue.reactive({
                    visible: false,
                    actor: null,
                    page: 'targets',
                });
                var want_new = false;
                var update_period = 0;

                const set_actor_dialog = (actor) => {
                    if (actor) {
                        actor_dialog.actor = actor;
                        actor_dialog.visible = true;
                    } else {
                        actor_dialog.visible = false;
                        actor_dialog.actor = null;
                    }
                }

                const remove_record = (name) => {
                    console.log('remove_record', name);
                    records.value = records.value.filter((item) => item.name !== name);
                    if (view_record_value.value === name) {
                        if (records.value.length === 0) new_record();
                        view_record_value.value = records.value[records.value.length - 1].name;
                    }
                    DpsChart.destroy_instance(name);
                }
                const fmt_time = (ms) => {
                    if (ms < 1000) return ms + "ms";
                    const sec = Math.floor(ms / 1000);
                    if (sec < 60) return sec + "s";
                    const min = Math.floor(sec / 60);
                    return min + "m";
                }
                const new_record = () => {
                    const now = new Date();
                    records.value.push({
                        name: `${now.getHours()}:${now.getMinutes()}:${now.getSeconds()}`,
                        time: now.getTime(),
                        last_record_at: 0,
                        actors: {},
                        events_in_minute: [],
                        canvas: null,
                        show_chart: false,
                    });
                    view_record_value.value = records.value[records.value.length - 1].name;
                    want_new = false;
                }

                const get_latest_record = () => {
                    if (records.value.length === 0) new_record();
                    return records.value[records.value.length - 1];
                }
                const get_actor = (source_idx, source_id, party_idx) => {
                    const current_record = get_latest_record();
                    if (!current_record.actors[source_idx]) {
                        current_record.actors[source_idx] = {
                            name: `[${party_idx}]${actor_names[source_id] || numberToHexStringWithZFill(source_id, 8)}#${source_idx}`,
                            color: colors[party_idx], // assume no more than 6 actors
                            damage: 0,
                            damage_in_minute: 0,
                            dps: 0,
                            dps_in_minute: 0,
                            targets: {},
                            actions: {},
                            hit: 0,
                        };
                    }
                    return current_record.actors[source_idx];
                }
                const get_actor_target = (actor, target_idx, target_id) => {
                    const target_key = `${numberToHexStringWithZFill(target_id, 8)}#${target_idx}`;
                    if (!(target_key in actor.targets)) actor.targets[target_key] = {
                        name: target_key,
                        damage: 0,
                    };
                    return actor.targets[target_key];

                }
                const get_actor_action = (actor, action_id) => {
                    let k;
                    switch (action_id) {
                        case -1:
                            k = 'link'
                            break
                        case -2:
                            k = 'LB'
                            break
                        case -3:
                            k = '追击'
                            break
                        default:
                            k = `#${action_id}`
                    }
                    if (!actor.actions[k]) {
                        actor.actions[k] = {
                            name: k,
                            hit: 0,
                            damage: 0,
                            min: -1,
                            max: -1,
                        }
                    }
                    return actor.actions[k];
                }
                const on_damage = (evt) => {
                    const {source, target, damage, flags, action_id} = evt;
                    const [source_type, source_idx, source_id, source_party_idx, ..._] = source;
                    const [target_type, target_idx, target_id, target_party_idx, ...__] = target;
                    // if (target_type === "BehaviorAppBase") return;
                    // if (source_type !== "BehaviorPlayerBase") return;
                    const now = new Date().getTime()
                    const current_record = get_latest_record();
                    current_record.last_record_at = now;
                    if (source_party_idx === -1) return;
                    const actor = get_actor(source_idx, source_id, source_party_idx);
                    current_record.events_in_minute.push({
                        time: now,
                        type: "damage",
                        data: evt
                    });
                    actor.hit += 1;
                    actor.damage += damage;
                    actor.damage_in_minute += damage;
                    const target_actor = get_actor_target(actor, target_idx, target_id);
                    target_actor.damage += damage;
                    const action = get_actor_action(actor, flags & (1 << 15) ? -3 : action_id);
                    action.hit += 1;
                    action.damage += damage;
                    if (action.min === -1 || action.min > damage) action.min = damage;
                    if (action.max === -1 || action.max < damage) action.max = damage;
                }

                const process_old_records = (current_record) => {
                    const min_time = new Date().getTime() - 60000;
                    while (current_record.events_in_minute.length > 0) {
                        const first_evt = current_record.events_in_minute[0];
                        if (first_evt.time > min_time) break;
                        current_record.events_in_minute.shift();
                        switch (first_evt.type) {
                            case "damage":
                                const {source, target, damage, flags} = first_evt.data;
                                const [source_type, source_idx, source_id, ..._] = source;
                                const actor = get_actor(source_idx, source_id);
                                actor.damage_in_minute -= damage;
                                break;
                        }
                    }
                }

                let last_chart_evt = 0

                const calc_damages = (current_record) => {
                    const full_time = (current_record.last_record_at - current_record.time) / 1000;
                    const real_time = (new Date().getTime() - current_record.time) / 1000
                    const full_time_in_minute = Math.min(60, real_time);
                    for (const actor of Object.values(current_record.actors)) {
                        actor.dps = Math.floor(actor.damage / full_time);
                        actor.dps_in_minute = Math.floor(actor.damage_in_minute / full_time_in_minute);
                    }
                    if (real_time > 10) {
                        current_record.show_chart = true;
                        if (current_record.canvas && last_chart_evt !== current_record.last_record_at) {
                            const chart = DpsChart.get_instance(current_record.name, current_record.canvas);
                            for (const [idx, actor] of Object.entries(current_record.actors)) chart.set_key_color(actor.name, actor.color);
                            chart.append_frame(real_time, Object.fromEntries(Object.entries(current_record.actors).map(([idx, actor]) => [actor.name, actor.dps_in_minute])));
                            last_chart_evt = current_record.last_record_at;
                        }
                    }
                }

                const update = () => {
                    const current_record = get_latest_record();
                    if (current_record.last_record_at > 0) {
                        process_old_records(current_record);
                        calc_damages(current_record);
                    }
                    if (update_period > 0) setTimeout(update, update_period);
                }

                const create_socket = () => {
                    const socket_ = new WebSocket("ws://localhost:24399");
                    socket_.addEventListener("message", evt_ => {
                        if (log_evt) log(evt_.data);
                        const evt = JSON.parse(evt_.data);
                       switch (evt.type) {
                            case "enter_area":
                                want_new = true;
                                break;
                            case "damage":
                                if (want_new) new_record();
                                on_damage(evt.data);
                                break;
                        }
                    });
                    socket_.addEventListener("open", () => {
                        is_socket_connected.value = true;
                        socket = socket_;
                    });
                    socket_.addEventListener("close", () => {
                        is_socket_connected.value = false;
                        socket = null;
                        if (update_period > 0)
                            setTimeout(create_socket, update_period);
                    });
                    socket_.addEventListener("error", evt => {
                        console.error("Ws Error", evt);
                        is_socket_connected.value = false;
                        socket = null;
                    });
                }

                Vue.onMounted(() => {
                    update_period = 1000;
                    create_socket();
                    update();
                });

                Vue.onUnmounted(() => {
                    update_period = -1;
                    if (socket) socket.close();
                });

                return {
                    view_record_value,
                    drawer,
                    is_socket_connected,
                    records,
                    fmt_time,
                    remove_record,
                    actor_dialog,
                    set_actor_dialog,
                }
            }
        })
        App.use(ElementPlus);
        for (const [key, component] of Object.entries(ElementPlusIconsVue)) App.component(key, component);
        App.mount('#app');
    }).catch(alert)


</script>
</html>
