<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote</title>
    <script>
        const cdn_loader = (async (data) => {
            for (const {key, type, choices} of data) await new Promise((resolve, reject) => {
                const cdn_like = JSON.parse(localStorage.getItem('cdnLike') || '{}');
                choices.sort((a, b) => cdn_like[key] === a ? -1 : cdn_like[key] === b ? 1 : 0);
                (function try_one_by_one(idx) {
                    if (idx >= choices.length) return reject(`all cdn of ${key} is not available`);
                    let el;
                    new Promise((resolve_, reject_) => {
                        if (type === 'css') {
                            el = document.createElement('link');
                            el.rel = 'stylesheet';
                            el.href = choices[idx];
                        } else {
                            el = document.createElement('script');
                            el.src = choices[idx];
                        }
                        el.onerror = reject_
                        el.onload = resolve_
                        document.head.appendChild(el);
                    }).then(() => {
                        console.log(`cdn of ${key} is loaded from ${choices[idx]}`);
                        cdn_like[key] = choices[idx];
                        localStorage.setItem('cdnLike', JSON.stringify(cdn_like));
                        resolve();
                    }).catch(e => {
                        console.error(`cdn of ${key} is not loaded from ${choices[idx]}`, e);
                        el.remove();
                        try_one_by_one(idx + 1);
                    });
                })(0);
            })
        })([{
            key: 'css/element-plus', type: 'css',
            choices: [
                "https://unpkg.com/element-plus/dist/index.css",
                "https://s4.zstatic.net/npm/element-plus/dist/index.css",
            ]
        },
            {
                key: 'css/bootstrap', type: 'css',
                choices: [
                    "https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css",
                    "https://s4.zstatic.net/npm/bootstrap@latest/dist/css/bootstrap.min.css",
                ]
            },
            {
                key: 'js/chart.js', type: 'js',
                choices: [
                    "https://cdn.jsdelivr.net/npm/chart.js",
                    "https://s4.zstatic.net/npm/chart.js",
                ]
            },
            {
                key: 'js/bootstrap', type: 'js',
                choices: [
                    "https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/js/bootstrap.bundle.min.js",
                    "https://s4.zstatic.net/npm/bootstrap@latest/dist/js/bootstrap.bundle.min.js",
                ]
            },
            {
                key: 'js/vue', type: 'js',
                choices: [
                    "https://unpkg.com/vue@3/dist/vue.global.js",
                    "https://s4.zstatic.net/npm/vue@3/dist/vue.global.js",
                ]
            },
            {
                key: 'js/element-plus', type: 'js',
                choices: [
                    "https://unpkg.com/element-plus",
                    "https://s4.zstatic.net/npm/element-plus@latest/dist/index.full.min.js",
                ]
            },
            {
                key: 'js/element-plus-icons-vue', type: 'js',
                choices: [
                    "https://unpkg.com/@element-plus/icons-vue",
                    "https://s4.zstatic.net/npm/@element-plus/icons-vue",
                ]
            },
            {
                key: 'js/vue-i18n', type: 'js',
                choices: [
                    "https://unpkg.com/vue-i18n@9",
                    "https://s4.zstatic.net/npm/vue-i18n@9",
                ]
            },
        ])
    </script>
</head>
<style>
    [v-cloak] {
        display: none;
    }

    body {
        font-family: -apple-system,
        'Nimbus Roman No9 L',
        'PingFang SC Regular',
        'Hiragino Sans GB',
        'Microsoft Yahei',
        'WenQuanYi Micro Hei',
        'ST Heiti', sans-serif
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(93, 93, 93);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(166, 166, 166, 0.3);
        background-color: rgb(234, 234, 234);
    }

    .main-0 {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .main-1 {
        display: table-cell;
        vertical-align: middle;
    }

    .main-2 {
        min-width: 80%;
        width: 1000px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<body>
<div id="app" class="main-0">
    <div class="main-1" v-cloak>
        <div class="main-2" v-if="0">
            resource is loading, please wait...
        </div>
        <div class="main-2 shadow rounded p-3" v-cloak>
            <div v-if="!is_socket_connected" class="p-3">
                <el-alert title="socket is not connect, check inject status" type="error" effect="dark" :closable="false"></el-alert>
            </div>
            <div style="position: absolute;right: 0;bottom: 0;padding: 2rem;z-index: 99">
                <el-popover
                        trigger="click" :width="300"
                        popper-style="box-shadow: rgb(14 18 22 / 35%) 0px 10px 38px -10px, rgb(14 18 22 / 20%) 0px 10px 20px -15px; padding: 20px;"
                >
                    <template #reference>
                        <el-icon>
                            <Operation/>
                        </el-icon>
                    </template>
                    <template #default>
                        <el-form
                                label-position="right"
                                label-width="150px"
                        >
                            <el-form-item :label="$t('ui.chart_main')">
                                <el-select v-model="cfg.chart" placeholder="Select">
                                    <el-option :label="`${$t('ui.chart')}-${$t('ui.dps_in_minute')}`" value="dps_min"></el-option>
                                    <el-option :label="`${$t('ui.chart')}-${$t('ui.damage')}`" value="dmg"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item :label="$t('ui.language')">
                                <el-select v-model="$i18n.locale" placeholder="Select">
                                    <el-option
                                            v-for="k in $i18n.availableLocales"
                                            :key="k"
                                            :label="$t('locale_name',k)"
                                            :value="k"
                                    />
                                </el-select>
                            </el-form-item>
                            <el-form-item :label="$t('ui.keep_record')">
                                <el-switch v-model="cfg.keep_record"/>
                            </el-form-item>
                        </el-form>
                    </template>
                </el-popover>
            </div>

            <el-dialog v-model="actor_dialog.visible" :title="actor_dialog.actor?actor_dialog.actor.display_name:''" @close="set_actor_dialog()" width="1000">
                <el-tabs
                        v-model="actor_dialog.page"
                        type="card"
                        v-if="actor_dialog.actor"
                >
                    <el-tab-pane :label="$t('ui.targets')" name="targets">
                        <el-table :data="actor_dialog.actor.targets" style="width: 100%" :default-sort="{ prop: 'damage', order: 'descending' }">
                            <el-table-column prop="name" :label="$t('ui.name')"></el-table-column>
                            <el-table-column prop="damage" :label="$t('ui.damage')" sortable></el-table-column>
                        </el-table>
                    </el-tab-pane>
                    <el-tab-pane :label="$t('ui.actions')" name="actions">
                        <el-table :data="actor_dialog.actor.actions" style="width: 100%" :default-sort="{ prop: 'damage', order: 'descending' }">
                            <el-table-column prop="display_name" :label="$t('ui.name')"></el-table-column>
                            <el-table-column prop="hit" :label="$t('ui.hit')" sortable>
                                <template #default="scope">
                                    <span>{{scope.row.hit}} ({{(scope.row.hit/actor_dialog.actor.hit*100).toFixed(1)}}%)</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="damage" :label="$t('ui.damage')" sortable>
                                <template #default="scope">
                                    <span>{{scope.row.damage}} ({{scope.row.damage?(scope.row.damage/actor_dialog.actor.damage*100).toFixed(1):0}}%)</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="min" :label="$t('ui.min')" sortable></el-table-column>
                            <el-table-column prop="max" :label="$t('ui.max')" sortable></el-table-column>
                            <el-table-column :label="$t('ui.damage_avg')">
                                <template #default="scope">
                                    <span v-if="scope.row.hit > 0">{{Math.floor(scope.row.damage / scope.row.hit)}}</span>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-tab-pane>
                </el-tabs>
            </el-dialog>

            <el-tabs
                    v-model="view_record_value"
                    type="card"
                    closable @tab-remove="remove_record"
            >
                <el-tab-pane
                        v-for="item in records" :key="item.name" :label="item.last_record_at?`${item.name} [${fmt_time(item.last_record_at-item.time)}]`:item.name" :name="item.name"
                >
                    <el-table :data="item.actors" style="width: 100%" :default-sort="{ prop: 'dps', order: 'descending' }">
                        <el-table-column prop="name" :label="$t('ui.name')">
                            <template #default="scope">
                                <span>
                                    <el-icon :style="{'color':scope.row.color}"><Avatar/></el-icon> {{scope.row.display_name}}
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="damage" :label="$t('ui.damage')" sortable>
                            <template #default="scope">
                                <span>{{scope.row.damage}} ({{scope.row.damage?(scope.row.damage/item.damage*100).toFixed(1):0}}%)</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="damage_in_minute" :label="$t('ui.damage_in_minute')" sortable></el-table-column>
                        <el-table-column prop="dps" :label="$t('ui.dps')" sortable></el-table-column>
                        <el-table-column prop="dps_in_minute" :label="$t('ui.dps_in_minute')" sortable></el-table-column>
                        <el-table-column :label="$t('ui.detail')">
                            <template #default="scope">
                                <el-button @click="set_actor_dialog(scope.row)" type="text" size="small">detail</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div :style="{display:item.show_chart?'block':'none'}">
                        <canvas :style="{display:cfg.chart=='dps_min'?'block':'none'}" :ref="el => { item.dps_canvas = el }" height="500"></canvas>
                        <canvas :style="{display:cfg.chart=='dmg'?'block':'none'}" :ref="el => { item.dmg_canvas = el }" height="500"></canvas>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</div>
</body>
<script src="./act_ws_texts.js"></script>
<script>
    const _with_time = f => (...args) => {
        const now = new Date();
        f(`[${now.getHours()}:${now.getMinutes()}:${now.getSeconds()}]`, ...args);
    }
    const log_cond = {
        evt: 1,
        render: 0,
        damage: 0,
    }
    const log = _with_time(console.log);
    const err = _with_time(console.error);
    const flag_offs = (val) => Array.from(Array(val.toString(2).length).keys())
            .filter(off => val & (1 << off));

    var socket = null;

    function numberToHexStringWithZFill(number, minLength) {
        let hexString = number.toString(16);
        while (hexString.length < minLength) {
            hexString = '0' + hexString;
        }
        return hexString;
    }

    const colors = [
        '#55ff55',
        '#ff5555',
        '#5555ff',
        '#ffff55',
        '#ff55ff',
        '#55ffff',
    ]

    class DamageChart {
        constructor(canvas) {
            this.canvas = canvas;
            this.ctx = canvas.getContext('2d');
            this.datas = {
                datasets: []
            };
            this.chart = new Chart(this.ctx, {
                type: 'line',
                data: this.datas,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                        },
                        y: {
                            beginAtZero: true,
                            position: 'left',
                        }
                    },
                    animation: {
                        y: {
                            duration: 0
                        },
                        x: {
                            duration: 0
                        }
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    }
                }
            });
            // this.period = 10 * 60;
            this.period = 0;
        }

        set_key_color(key, color) {
            const dataset = this.datas.datasets.find(ds => ds.label === key);
            if (dataset) {
                dataset.borderColor = color;
                dataset.backgroundColor = color;
            } else {
                this.datas.datasets.push({
                    label: key,
                    data: [],
                    borderColor: color,
                    backgroundColor: color,
                    fill: false,
                });
            }
        }

        append_frame(timestamp, datas) {
            if (this.period > 0) {
                const min_time = timestamp - this.period;
                for (const dataset of this.datas.datasets) {
                    const cutoff_idx = dataset.data.findIndex(d => d.x > min_time);
                    if (cutoff_idx >= 0) dataset.data = dataset.data.slice(cutoff_idx);
                }
            }
            Object.entries(datas).forEach(([key, value]) => {
                let dataset = this.datas.datasets.find(ds => ds.label === key);
                if (!dataset) {
                    dataset = {
                        label: key,
                        data: [],
                        borderColor: '#000000',
                        backgroundColor: '#000000',
                        fill: false,
                    }
                    this.datas.datasets.push(dataset);
                }
                dataset.data.push({x: timestamp, y: value});
            });
            if (log_cond.render) log('log_render', this.datas);
            this.chart.update();
        }

        static instances = {};

        static get_instance(name, canvas) {
            if (!this.instances[name]) this.instances[name] = new this(canvas);
            return this.instances[name];
        }

        static destroy_instance(name) {
            if (name in this.instances) {
                this.instances[name].chart.destroy();
                delete this.instances[name];
            }
        }
    }

    class DpsChart {
        constructor(canvas) {
            this.canvas = canvas;
            this.ctx = canvas.getContext('2d');
            this.datas = {
                datasets: []
            };
            this.chart = new Chart(this.ctx, {
                type: 'line',
                data: this.datas,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                        },
                        y: {
                            //beginAtZero: true,
                            position: 'left',
                        }
                    },
                    animation: {
                        y: {
                            duration: 0
                        },
                        x: {
                            duration: 0
                        }
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    }
                }
            });
            // this.period = 10 * 60;
            this.period = 0;
        }

        set_key_color(key, color) {
            const dataset = this.datas.datasets.find(ds => ds.label === key);
            if (dataset) {
                dataset.borderColor = color;
                dataset.backgroundColor = color;
            } else {
                this.datas.datasets.push({
                    label: key,
                    data: [],
                    borderColor: color,
                    backgroundColor: color,
                    fill: false,
                });
            }
        }

        append_frame(timestamp, datas) {
            if (this.period > 0) {
                const min_time = timestamp - this.period;
                for (const dataset of this.datas.datasets) {
                    const cutoff_idx = dataset.data.findIndex(d => d.x > min_time);
                    if (cutoff_idx >= 0) dataset.data = dataset.data.slice(cutoff_idx);
                }
            }
            Object.entries(datas).forEach(([key, value]) => {
                let dataset = this.datas.datasets.find(ds => ds.label === key);
                if (!dataset) {
                    dataset = {
                        label: key,
                        data: [],
                        borderColor: '#000000',
                        backgroundColor: '#000000',
                        fill: false,
                    }
                    this.datas.datasets.push(dataset);
                }
                dataset.data.push({x: timestamp, y: value});
            });
            if (log_cond.render) log('log_render', this.datas);
            this.chart.update();
        }

        static instances = {};

        static get_instance(name, canvas) {
            if (!this.instances[name]) this.instances[name] = new this(canvas);
            return this.instances[name];
        }

        static destroy_instance(name) {
            if (name in this.instances) {
                this.instances[name].chart.destroy();
                delete this.instances[name];
            }
        }
    }

    cdn_loader.then(() => {
        const i18n = VueI18n.createI18n(i18nCfg);

        const App = Vue.createApp({
            setup: function () {
                const is_socket_connected = Vue.ref(false);
                const drawer = Vue.ref(false);
                const records = Vue.ref([]);
                const view_record_value = Vue.ref("");
                const actor_dialog = Vue.reactive({
                    visible: false,
                    actor: null,
                    page: 'targets',
                });
                const cfg = Vue.ref(JSON.parse(localStorage.getItem('act_ws_cfg') || "{}"));
                var want_new = false;
                var update_period = 0;

                const set_actor_dialog = (actor) => {
                    if (actor) {
                        actor_dialog.actor = actor;
                        actor_dialog.visible = true;
                    } else {
                        actor_dialog.visible = false;
                        actor_dialog.actor = null;
                    }
                }

                const remove_record = (name) => {
                    console.log('remove_record', name);
                    records.value = records.value.filter((item) => item.name !== name);
                    if (view_record_value.value === name) {
                        if (records.value.length === 0) new_record();
                        view_record_value.value = records.value[records.value.length - 1].name;
                    }
                    DpsChart.destroy_instance(name);
                    DamageChart.destroy_instance(name);
                }
                const fmt_time = (ms) => {
                    if (ms < 1000) return ms + "ms";
                    const sec = Math.floor(ms / 1000);
                    if (sec < 60) return sec + "s";
                    const min = Math.floor(sec / 60);
                    return min + "m";
                }
                const archive_record = (record) => {
                    if (record.is_archived) return;
                    process_old_records(record);
                    calc_damages(record);
                    record.is_archived = true;
                }

                const new_record = () => {
                    const now = new Date();
                    if (records.value.length > 0) archive_record(records.value[records.value.length - 1]);
                    records.value.push({
                        name: `${now.getHours()}:${now.getMinutes()}:${now.getSeconds()}`,
                        time: now.getTime(),
                        last_record_at: 0,
                        last_chart_evt: 0,
                        damage: 0,
                        actors: [],
                        events_in_minute: [],
                        dps_canvas: null,
                        dmg_canvas: null,
                        show_chart: false,
                        is_archived: false,
                    });
                    view_record_value.value = records.value[records.value.length - 1].name;
                    want_new = false;
                }

                const get_latest_record = () => {
                    if (records.value.length === 0) new_record();
                    return records.value[records.value.length - 1];
                }
                const get_actor = (source_idx, source_id, party_idx) => {
                    let name_key;
                    const current_record = get_latest_record();
                    return (
                            current_record.actors.find(
                                    v => v.source_idx === source_idx
                            ) ||
                            current_record.actors[
                            current_record.actors.push({
                                source_idx, party_idx,
                                name_key: (name_key = numberToHexStringWithZFill(source_id, 8)),
                                display_name: `[${party_idx}]${i18n.global.t(`game.actors.${name_key}`)}#${source_idx}`,
                                color: colors[party_idx], // assume no more than 6 actors
                                damage: 0,
                                damage_in_minute: 0,
                                dps: 0,
                                dps_in_minute: 0,
                                targets: [],
                                actions: [],
                                hit: 0
                            }) - 1
                                    ]
                    );
                }
                const get_actor_target = (actor, target_idx, target_id) => {
                    const target_key = `${numberToHexStringWithZFill(target_id, 8)}#${target_idx}`;
                    return actor.targets.find(v => v.name === target_key) ||
                            (actor.targets[actor.targets.push({
                                name: target_key,
                                damage: 0
                            }) - 1]);
                }
                const get_actor_action = (actor, action_id) => {
                    return (actor.actions.find(v => v.id === action_id) || actor.actions[actor.actions.push({
                        id: action_id,
                        display_name: (() => {
                            switch (action_id) {
                                case -1:
                                    return i18n.global.t('game.actions.common.link')
                                case -2:
                                    return i18n.global.t('game.actions.common.lb')
                                case -3:
                                    return i18n.global.t('game.actions.common.bonus')
                                case 5000:
                                    return i18n.global.t('game.actions.common.ether_round')
                                case 5010:
                                    return i18n.global.t('game.actions.common.charged_shot')
                                default:
                                    const n = i18n.global.t(`game.actions.${actor.name_key}.${action_id}`)
                                    return n.startsWith('game.actions.') ? action_id.toString() : n;
                            }
                        })(),
                        hit: 0,
                        damage: 0,
                        min: -1,
                        max: -1,
                    }) - 1]);
                }
                const on_damage = (evt) => {
                    if (want_new) new_record();
                    const {source, target, damage, flags, action_id} = evt;
                    const [source_type, source_idx, source_id, source_party_idx, ..._] = source;
                    const [target_type, target_idx, target_id, target_party_idx, ...__] = target;
                    if (target_id === 0x22a350f) return; // HARDCODE: 对欧根附加炸弹造成的伤害不进行记录
                    // TODO: 自伤类技能的过滤
                    // if (target_type === "BehaviorAppBase") return;
                    // if (source_type !== "BehaviorPlayerBase") return;
                    const now = new Date().getTime()
                    const current_record = get_latest_record();
                    current_record.last_record_at = now;
                    if (source_party_idx === -1) return;
                    current_record.damage += damage;
                    const actor = get_actor(source_idx, source_id, source_party_idx);
                    current_record.events_in_minute.push({
                        time: now,
                        type: "damage",
                        data: evt
                    });
                    actor.hit += 1;
                    actor.damage += damage;
                    actor.damage_in_minute += damage;
                    const target_actor = get_actor_target(actor, target_idx, target_id);
                    target_actor.damage += damage;
                    const action = get_actor_action(actor, flags & (1 << 15) ? -3 : action_id);
                    action.hit += 1;
                    action.damage += damage;
                    if (action.min === -1 || action.min > damage) action.min = damage;
                    if (action.max === -1 || action.max < damage) action.max = damage;
                    if (log_cond.damage) log(`${actor.display_name} cause ${damage} damage by ${action.display_name} to ${target_actor.name}`);
                }

                const process_old_records = (current_record) => {
                    const min_time = new Date().getTime() - 60000;
                    while (current_record.events_in_minute.length > 0) {
                        const first_evt = current_record.events_in_minute[0];
                        if (first_evt.time > min_time) break;
                        current_record.events_in_minute.shift();
                        switch (first_evt.type) {
                            case "damage":
                                const {source, target, damage, flags} = first_evt.data;
                                const [source_type, source_idx, source_id, ..._] = source;
                                const actor = get_actor(source_idx, source_id);
                                actor.damage_in_minute -= damage;
                                break;
                        }
                    }
                }

                const calc_damages = (current_record) => {
                    const full_time = (current_record.last_record_at - current_record.time) / 1000;
                    const real_time = (new Date().getTime() - current_record.time) / 1000
                    const full_time_in_minute = Math.min(60, real_time);
                    for (const actor of current_record.actors) {
                        actor.dps = Math.floor(actor.damage / full_time);
                        actor.dps_in_minute = Math.floor(actor.damage_in_minute / full_time_in_minute);
                    }
                    if (real_time > 10) {
                        current_record.show_chart = true;
                        if (current_record.last_chart_evt !== current_record.last_record_at) {
                            const dps_chart = DpsChart.get_instance(current_record.name, current_record.dps_canvas);
                            const damage_chart = DamageChart.get_instance(current_record.name, current_record.dmg_canvas);
                            for (const {display_name, color} of current_record.actors) {
                                dps_chart.set_key_color(display_name, color);
                                damage_chart.set_key_color(display_name, color);
                            }
                            dps_chart.append_frame(real_time, current_record.actors.reduce((p, {display_name, dps_in_minute}) => {
                                p[display_name] = dps_in_minute;
                                return p;
                            }, {}));
                            damage_chart.append_frame(real_time, current_record.actors.reduce((p, {display_name, damage}) => {
                                p[display_name] = damage;
                                return p;
                            }, {}));
                            current_record.last_chart_evt = current_record.last_record_at;
                        }
                    }
                }
                let cancelLoop;
                const loopInterval = 1000;
                const loopMethod = (() => {
                    const raf = window.requestAnimationFrame ||
                        window.webkitRequestAnimationFrame ||
                        window.mozRequestAnimationFrame ||
                        window.msRequestAnimationFrame;
                    const cancel = window.cancelAnimationFrame ||
                        window.webkitCancelAnimationFrame ||
                        window.mozCancelAnimationFrame ||
                        window.msCancelAnimationFrame;
                    if (raf) {
                        let lastRafTime = 0;
                        return (callback) => {
                            let id;
                            const loop = (timestamp) => {
                                if (timestamp - lastRafTime >= loopInterval) {
                                    callback();
                                    lastRafTime = timestamp;
                                }
                                id = raf(loop);
                            }
                            loop();
                            return () => cancel(id);
                        }
                    }
                    return (callback) => {
                        const id = setInterval(callback, loopInterval);
                        return () => clearInterval(id);
                    };
                })();

                const update = () => {
                    const current_record = get_latest_record();
                    if (!current_record.is_archived && current_record.last_record_at > 0) {
                        process_old_records(current_record);
                        calc_damages(current_record);
                    }
                }

                const on_enter_area = (evt) => {
                    want_new = true;
                    archive_record(get_latest_record());
                }

                const create_socket = () => {
                    const socket_ = new WebSocket("ws://localhost:24399");
                    socket_.addEventListener("message", evt_ => {
                        if (log_cond.evt) log(evt_.data);
                        const evt = JSON.parse(evt_.data);
                        switch (evt.type) {
                            case "enter_area":
                                on_enter_area(evt.data);
                                break;
                            case "damage":
                                on_damage(evt.data);
                                break;
                        }
                    });
                    socket_.addEventListener("open", () => {
                        is_socket_connected.value = true;
                        socket = socket_;
                    });
                    socket_.addEventListener("close", () => {
                        is_socket_connected.value = false;
                        socket = null;
                        if (update_period > 0)
                            setTimeout(create_socket, update_period);
                    });
                    socket_.addEventListener("error", evt => {
                        console.error("Ws Error", evt);
                        is_socket_connected.value = false;
                        socket = null;
                    });
                }

                const init_cfg = () => {
                    const cfg_val = cfg.value;
                    const setdefault = (key, val) => {
                        if (!(key in cfg_val)) cfg_val[key] = val;
                    }
                    setdefault('chart', 'dps_min');
                    setdefault('keep_record', false);
                    cfg.value = cfg_val;
                }

                const handleBeforeUnloadStoreRecord = (e) => {
                    if (!cfg.value.keep_record) return;
                    const record = get_latest_record();
                    localStorage.setItem('latest_record', JSON.stringify([record]));
                }

                Vue.onMounted(() => {
                    init_cfg();
                    if (cfg.value.keep_record) {
                        try {
                            records.value = JSON.parse(localStorage.getItem('latest_record') || '[]');
                        } catch {
                            records.value = [];
                        }
                        want_new = !!records.value.length;
                        localStorage.removeItem('latest_record');
                    }
                    Vue.watch(cfg, (v) => localStorage.setItem('act_ws_cfg', JSON.stringify(v)), {deep: true});
                    Vue.watch(() => i18n.global.locale, i18nCfg.onLocaleChange)
                    update_period = 1000;
                    create_socket();
                    cancelLoop = loopMethod(update);
                    window.addEventListener('beforeunload', handleBeforeUnloadStoreRecord);
                    if (cfg.value.keep_record && records.value.length) {
                        archive_record(get_latest_record());
                        view_record_value.value = records.value[0].name;
                        records.value[0].show_chart = false;
                    }
                });

                Vue.onUnmounted(() => {
                    update_period = -1;
                    if (socket) socket.close();
                    handleBeforeUnloadStoreRecord();
                    cancelLoop();
                    window.removeEventListener('beforeunload', handleBeforeUnloadStoreRecord);
                });

                return {
                    cfg,
                    view_record_value,
                    drawer,
                    is_socket_connected,
                    records,
                    fmt_time,
                    remove_record,
                    actor_dialog,
                    set_actor_dialog,
                }
            }
        })
        App.use(ElementPlus);
        App.use(i18n);
        for (const [key, component] of Object.entries(ElementPlusIconsVue)) App.component(key, component);
        App.mount('#app');
    }).catch(alert)


</script>
</html>
